.footer {
  background-color: $color-primary;
  padding: 8rem 0;
  font-size: 1.4rem;
  text-align: center;

  @include respond(tab-port) {
    padding: 6rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 6rem;

    @include respond(tab-port) {
      margin-bottom: 3rem; 
    }
  }

  &__logo img{
    height: 8rem;
  }

  &__contact {
    border-top: 1px solid $color-secondary-light;
    padding-top: 2rem;
    display: block;
    margin: 0 auto;
    color: $color-secondary-light;
    

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__contact-list {
    list-style: none;
  }

  &__contact-item {
    display: flex;
    margin-bottom: 1rem;
    align-items: baseline;
    font-size: 1.6rem;

    @include respond(tab-port) {
      justify-content: center;
    }
  }

  &__contact-text {
    margin-left: 2rem;
  }

  &__social {
    width: 100%;
    height: auto;
    margin: auto;
    // border-top: 1px solid $color-secondary-light;
  }

  &__icons {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  &__icon-item {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    margin: 1rem .5rem;
    border-radius: 100%;
    background: $color-secondary-light;

    &:not(:last-child) {
      margin-right: 0;
    }

    @include respond(tab-port) {
      width: 4rem;
      height: 4rem;
    }
  }

  &__icon-link {
    color: $color-primary;
    font-size: 2.5rem;
    transition: all .2s;

    i{
      line-height: 5rem;

      @include respond(tab-port) {
        line-height: 4rem;
      }
    }

    &:hover {
      color: $color-primary-light;
    }

    @include respond(tab-port) {
      font-size: 2rem;
    }
  }

  &__navigation {
    border-top: 1px solid $color-secondary-light;
    padding-top: 2rem;
    display: block;
    margin: 0 auto;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__link {

    &:link,
    &:visited {
      color: $color-secondary-light;
      background-color: $color-primary;
      text-decoration: none;
      text-transform: uppercase;
      display: inline-block;
      transition: all .2s;
    }

    &:hover,
    &:active {
      text-decoration: underline;
      box-shadow: 0 1rem 2rem rgba($color-black, .4);
    }
  }
}