.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 10rem;
  max-width: 85%;
  margin: 0 auto;
  align-items: start;
}

.service {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;

  &__icon {
    fill: #c69963;
    width: 4.5rem;
    height: 4.5rem;
    grid-row: 1/ span 2;
    transform: translateY(-1rem); 
  }

  &__text {
    text-align: justify;
    font-size: 1.6rem; 
  }
}